<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.wordbook.WordbookMapper">
	
	<!-- 단어장 목록 조회 -->
	<select id="selectWordbookList" parameterType="map" resultType="camelCaseMap">
		SELECT T1.WORDBOOK_SEQ                                              /*단어장일련번호*/
		     , T1.WORDBOOK_NM                                               /*단어장명*/
		     , T1.FST_REG_ID                                                /*최초등록자아이디*/
		     , DATE_FORMAT(T1.FST_REG_DTTI, "%Y/%m/%d %H:%i") FST_REG_DTTI	/*최초등록일시*/
		     , T1.LT_UPD_ID                                                 /*최종수정자아이디*/
		     , DATE_FORMAT(T1.LT_UPD_DTTI, "%Y/%m/%d %H:%i") LT_UPD_DTTI	/*최종수정일시*/
		  FROM TB_WORDBOOK T1												/*테이블_단어장*/
		 WHERE 1 = 1
		   AND T1.USE_YN = #{useYn}
		 ORDER BY T1.WORDBOOK_NM ASC
	</select>		
	
	<!-- 단어 목록 조회 -->
	<select id="selectWordList" parameterType="map" resultType="camelCaseMap">
		SELECT T1.WORDBOOK_SEQ                                              /*단어장일련번호*/
			 , T1.WORD_ID													/*단어식별자*/
		     , T1.WORD                                               		/*단어*/
		     , T1.MEAN                                               		/*뜻*/
		     , T1.BOOKMARK_YN                                               /*중요단어여부*/
		     , T1.CHAL_CNT													/*챌린지횟수*/
		     , T1.FST_REG_ID                                                /*최초등록자아이디*/
		     , DATE_FORMAT(T1.FST_REG_DTTI, "%Y/%m/%d %H:%i") FST_REG_DTTI	/*최초등록일시*/
		     , T1.LT_UPD_ID                                                 /*최종수정자아이디*/
		     , DATE_FORMAT(T1.LT_UPD_DTTI, "%Y/%m/%d %H:%i") LT_UPD_DTTI	/*최종수정일시*/
		     , ROW_NUMBER() OVER (ORDER BY T1.WORD) - 1	AS RNUM
		  FROM TB_WORD T1													/*테이블_단어*/
		 WHERE 1 = 1
		   AND T1.WORDBOOK_SEQ = #{wordbookSeq}
		 ORDER BY RAND()
	</select>		
	
	<!-- 단어장 등록 -->
	<insert id="insertWordbook" parameterType="map">
		<selectKey resultType="integer" keyProperty="wordbookSeq" order="BEFORE">
			SELECT nextval('WORDBOOK_SEQ') FROM DUAL	/*wordbookSeq 값을 map에 반환*/
		</selectKey>		
		INSERT 
		  INTO TB_WORDBOOK			/*테이블_단어장*/
		     ( WORDBOOK_SEQ			/*단어장일련번호*/
		     , WORDBOOK_NM 			/*단어장명*/
		     , FST_REG_ID 			/*최초등록자ID*/
		     , LT_UPD_ID 			/*최종수정자ID*/
		     )
		VALUES
			 ( #{wordbookSeq}		/*단어장일련번호*/
			 , #{wordbookNm}		/*단어장명*/
		     , #{loginInfo.userId} 	/*최초등록자ID*/
		     , #{loginInfo.userId} 	/*최종수정자ID*/			 
			 )    
	</insert>
	
	<!-- 단어 등록 -->
	<insert id="insertWord" parameterType="map">
		<selectKey resultType="integer" keyProperty="wordId" order="BEFORE">
			SELECT IFNULL(MAX(WORD_ID), 0) + 1 FROM TB_WORD WHERE WORDBOOK_SEQ = #{wordbookSeq}
		</selectKey>	
	
		INSERT 
		  INTO TB_WORD				/*테이블_단어*/
		     ( WORDBOOK_SEQ			/*단어장일련번호*/
		     , WORD_ID				/*단어식별자*/
		     , WORD 				/*단어*/
		     , MEAN 				/*뜻*/
		     , CHAL_CNT				/*챌린지횟수*/
		     , FST_REG_ID 			/*최초등록자ID*/
		     , LT_UPD_ID 			/*최종수정자ID*/
		     )
		VALUES
			 ( #{wordbookSeq}		/*단어장일련번호*/
			 , #{wordId}			/*단어식별자*/
			 , #{word}				/*단어*/
			 , #{mean}				/*뜻*/
			 , 0					/*챌린지횟수*/
		     , #{loginInfo.userId} 	/*최초등록자ID*/
		     , #{loginInfo.userId} 	/*최종수정자ID*/			 
			 )    
	</insert>	
	
	<!-- 단어장 수정 -->
	<update id="updateWordbook" parameterType="map">
		UPDATE TB_WORDBOOK								/*테이블_단어장*/
		   SET WORDBOOK_NM		= #{wordbookNm}			/*단어장명*/
		     , LT_UPD_ID 		= #{loginInfo.userId}	/*최종수정자ID*/
		     , LT_UPD_DTTI		= NOW() 				/*최종수정일시*/
		 WHERE WORDBOOK_SEQ		= #{wordbookSeq}		/*단어장일련번호*/    
	</update>	
	
	<!-- 단어 수정 -->
	<update id="updateWord" parameterType="map">
		UPDATE TB_WORD									/*테이블_단어장*/
		   SET WORD				= #{word}				/*단어*/
		     , MEAN				= #{mean}				/*뜻*/
		     , LT_UPD_ID 		= #{loginInfo.userId}	/*최종수정자ID*/
		     , LT_UPD_DTTI		= NOW() 				/*최종수정일시*/
		 WHERE WORDBOOK_SEQ		= #{wordbookSeq}		/*단어장일련번호*/   
		   AND WORD_ID			= #{wordId}				/*단어식별자*/ 
	</update>		
	
	<!-- 단어장 삭제 -->
	<update id="deleteWordbook" parameterType="map">
		UPDATE TB_WORDBOOK								/*테이블_단어장*/
		   SET USE_YN			= 'N'					/*사용여부*/
		     , LT_UPD_ID 		= #{loginInfo.userId}	/*최종수정자ID*/
		     , LT_UPD_DTTI		= NOW() 				/*최종수정일시*/
		 WHERE WORDBOOK_SEQ		= #{wordbookSeq}		/*단어장일련번호*/    
	</update>	
	
	<!-- 중요단어여부 변경 -->
	<update id="updateBookmark" parameterType="map">
		UPDATE TB_WORD									/*테이블_단어장*/
		   SET BOOKMARK_YN		= #{bookmarkYn}			/*중요단어여부*/
		     , LT_UPD_ID 		= #{loginInfo.userId}	/*최종수정자ID*/
		     , LT_UPD_DTTI		= NOW() 				/*최종수정일시*/
		 WHERE WORDBOOK_SEQ		= #{wordbookSeq}		/*단어장일련번호*/   
		   AND WORD_ID			= #{wordId}				/*단어식별자*/ 
	</update>		
	
	<!-- 단어 삭제 -->
	<delete id="deleteWord" parameterType="map">
		DELETE 
		  FROM TB_WORD									/*테이블_단어*/
		 WHERE WORDBOOK_SEQ		= #{wordbookSeq}		/*단어장일련번호*/
		   AND WORD_ID			= #{wordId}				/*단어식별자*/ 
	</delete>		
</mapper>