@charset "UTF-8";

.pointer{cursor: pointer;}

.tr{text-align: right;}
.tl{text-align: left;}
.tc{text-align: center;}

.f-right{float: right;}
.f-left{float: left;}
.f-none{float: none;}
.f-inherit{float: inherit;}

.display-inb{display: inline-block;}
.display-in{display: inline;}
.display-b{display: block;}
.display-n{display: none;}	

.blackText{color: black;}
.whiteText{color: white;}
.grayText{color: #3b3939;}
.redText{color: red;}
.blueText{color: #0e0eb9;}

.over-auto{overflow: auto;}
.over-hidden{overflow: hidden;}

.tx-over-clip{text-overflow: clip;}
.tx-over-ellipsis{text-overflow: ellipsis;}

.align-items-center{
    display: flex; /* Flexbox 레이아웃을 사용합니다 */
    align-items: center; /* 세로 축을 기준으로 중앙 정렬합니다 */    	
    justify-content: center; /* 수평 축을 기준으로 중앙 정렬합니다 */
}

.vh100{height: 100vh;}
.vw100{width: 100vw;}

.w0{width:0%;} 
.w5{width:5%;} 
.w10 {width:10%;} 
.w15{width:15%;} 
.w20{width:20%;} 
.w25{width:25%;} 
.w30{width:30%;} 
.w35{width:35%;} 
.w40{width:40%;} 
.w45{width:45%;} 
.w50{width:50%;} 
.w55{width:55%;} 
.w60{width:60%;} 
.w65{width:65%;} 
.w70{width:70%;} 
.w75{width:75%;} 
.w80{width:80%;} 
.w85{width:85%;} 
.w90{width:90%;} 
.w95{width:95%;} 
.w100{width:100%;} 

.max-w0{max-width:0%;} 
.max-w5{max-width:5%;} 
.max-w10{max-width:10%;} 
.max-w15{max-width:15%;} 
.max-w20{max-width:20%;} 
.max-w25{max-width:25%;} 
.max-w30{max-width:30%;} 
.max-w35{max-width:35%;} 
.max-w40{max-width:40%;} 
.max-w45{max-width:45%;} 
.max-w50{max-width:50%;} 
.max-w55{max-width:55%;} 
.max-w60{max-width:60%;} 
.max-w65{max-width:65%;} 
.max-w70{max-width:70%;} 
.max-w75{max-width:75%;} 
.max-w80{max-width:80%;} 
.max-w85{max-width:85%;} 
.max-w90{max-width:90%;} 
.max-w95{max-width:95%;} 
.max-w100{max-width:100%;} 

.max-width-120 {
    max-width: 120px;
}

.max-width-90 {
    max-width: 90px;
}

.max-width-300 {
    max-width: 300px;
}

.max-w0px{max-width:0px;} 
.max-w5px{max-width:5px;} 
.max-w10px{max-width:10px;} 
.max-w15px{max-width:15px;} 
.max-w20px{max-width:20px;} 
.max-w25px{max-width:25px;} 
.max-w30px{max-width:30px;} 
.max-w35px{max-width:35px;} 
.max-w40px{max-width:40px;} 
.max-w45px{max-width:45px;} 
.max-w50px{max-width:50px;} 
.max-w55px{max-width:55px;} 
.max-w60px{max-width:60px;} 
.max-w65px{max-width:65px;} 
.max-w70px{max-width:70px;} 
.max-w75px{max-width:75px;} 
.max-w80px{max-width:80px;} 
.max-w85px{max-width:85px;} 
.max-w90px{max-width:90px;} 
.max-w95px{max-width:95px;} 
.max-w100px{max-width:100px;} 
.max-w105px{max-width:105px;} 
.max-w110px{max-width:110px;} 
.max-w115px{max-width:115px;} 
.max-w120px{max-width:120px;} 
.max-w125px{max-width:125px;} 
.max-w130px{max-width:130px;} 
.max-w135px{max-width:135px;} 
.max-w140px{max-width:140px;} 
.max-w145px{max-width:145px;} 
.max-w150px{max-width:150px;} 
.max-w155px{max-width:155px;} 
.max-w160px{max-width:160px;} 
.max-w165px{max-width:165px;} 
.max-w170px{max-width:170px;} 
.max-w175px{max-width:175px;} 
.max-w180px{max-width:180px;} 
.max-w185px{max-width:185px;} 
.max-w190px{max-width:190px;} 
.max-w195px{max-width:195px;} 
.max-w200px{max-width:200px;} 
.max-w300px{max-width:300px;}
.max-w400px{max-width:400px;} 

.w0px{width:0px;} 
.w5px{width:5px;} 
.w10px{width:10px;} 
.w15px{width:15px;} 
.w20px{width:20px;} 
.w25px{width:25px;} 
.w30px{width:30px;} 
.w35px{width:35px;} 
.w40px{width:40px;} 
.w45px{width:45px;} 
.w50px{width:50px;} 
.w55px{width:55px;} 
.w60px{width:60px;} 
.w65px{width:65px;} 
.w70px{width:70px;} 
.w75px{width:75px;} 
.w80px{width:80px;} 
.w85px{width:85px;} 
.w90px{width:90px;} 
.w95px{width:95px;} 
.w100px{width:100px;} 
.w105px{width:105px;} 
.w110px{width:110px;} 
.w115px{width:115px;} 
.w120px{width:120px;} 
.w125px{width:125px;} 
.w130px{width:130px;} 
.w135px{width:135px;} 
.w140px{width:140px;} 
.w145px{width:145px;} 
.w150px{width:150px;} 
.w155px{width:155px;} 
.w160px{width:160px;} 
.w165px{width:165px;} 
.w170px{width:170px;} 
.w175px{width:175px;} 
.w180px{width:180px;} 
.w185px{width:185px;} 
.w190px{width:190px;} 
.w195px{width:195px;} 
.w200px{width:200px;} 

.h0{height:0%;} 
.h5{height:5%;} 
.h10{height:10%;} 
.h15{height:15%;} 
.h20{height:20%;} 
.h25{height:25%;} 
.h30{height:30%;} 
.h35{height:35%;} 
.h40{height:40%;} 
.h45{height:45%;} 
.h50{height:50%;} 
.h55{height:55%;} 
.h60{height:60%;} 
.h65{height:65%;} 
.h70{height:70%;} 
.h75{height:75%;} 
.h80{height:80%;} 
.h85{height:85%;} 
.h90{height:90%;} 
.h95{height:95%;} 
.h100{height:100%;} 

.h0px{height:0px;} 
.h5px{height:5px;} 
.h10px{height:10px;} 
.h15px{height:15px;} 
.h20px{height:20px;} 
.h25px{height:25px;} 
.h30px{height:30px;} 
.h35px{height:35px;} 
.h40px{height:40px;} 
.h45px{height:45px;} 
.h50px{height:50px;} 
.h55px{height:55px;} 
.h60px{height:60px;} 
.h65px{height:65px;} 
.h70px{height:70px;} 
.h75px{height:75px;} 
.h80px{height:80px;} 
.h85px{height:85px;} 
.h90px{height:90px;} 
.h95px{height:95px;} 
.h100px{height:100px;} 
.h105px{height:105px;} 
.h110px{height:110px;} 
.h115px{height:115px;} 
.h120px{height:120px;} 
.h125px{height:125px;} 
.h130px{height:130px;} 
.h135px{height:135px;} 
.h140px{height:140px;} 
.h145px{height:145px;} 
.h150px{height:150px;} 
.h155px{height:155px;} 
.h160px{height:160px;} 
.h165px{height:165px;} 
.h170px{height:170px;} 
.h175px{height:175px;} 
.h180px{height:180px;} 
.h185px{height:185px;} 
.h190px{height:190px;} 
.h195px{height:195px;} 
.h200px{height:200px;} 

.lh0px{line-height:0px;} 
.lh5px{line-height:5px;} 
.lh10px{line-height:10px;} 
.lh15px{line-height:15px;} 
.lh20px{line-height:20px;} 
.lh25px{line-height:25px;} 
.lh30px{line-height:30px;} 
.lh35px{line-height:35px;} 
.lh40px{line-height:40px;} 
.lh45px{line-height:45px;} 
.lh50px{line-height:50px;} 
.lh55px{line-height:55px;} 
.lh60px{line-height:60px;} 
.lh65px{line-height:65px;} 
.lh70px{line-height:70px;} 
.lh75px{line-height:75px;} 
.lh80px{line-height:80px;} 
.lh85px{line-height:85px;} 
.lh90px{line-height:90px;} 
.lh95px{line-height:95px;} 
.lh100px{line-height:100px;} 
.lh105px{line-height:105px;} 
.lh110px{line-height:110px;} 
.lh115px{line-height:115px;} 
.lh120px{line-height:120px;} 
.lh125px{line-height:125px;} 
.lh130px{line-height:130px;} 
.lh135px{line-height:135px;} 
.lh140px{line-height:140px;} 
.lh145px{line-height:145px;} 
.lh150px{line-height:150px;} 
.lh155px{line-height:155px;} 
.lh160px{line-height:160px;} 
.lh165px{line-height:165px;} 
.lh170px{line-height:170px;} 
.lh175px{line-height:175px;} 
.lh180px{line-height:180px;} 
.lh185px{line-height:185px;} 
.lh190px{line-height:190px;} 
.lh195px{line-height:195px;} 
.lh200px{line-height:200px;} 

.fs1-1{font-size: 1.1rem;}
.fs1-2{font-size: 1.2rem;}
.fs1-3{font-size: 1.3rem;}
.fs1-4{font-size: 1.4rem;}
.fs1-5{font-size: 1.5rem;}
.fs1-6{font-size: 1.6rem;}
.fs1-7{font-size: 1.7rem;}
.fs1-8{font-size: 1.8rem;}
.fs1-9{font-size: 1.9rem;}
    
.col-width-8{max-width: 80px;}
.col-width-8 th, .col-width-8 td{max-width: 80px;}


.mb-1{margin-bottom: 0.5rem;}
.mb-2{margin-bottom: 1.0rem;}
.mb-3{margin-bottom: 1.5rem;}
.mb-4{margin-bottom: 2.0rem;}

.col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.col-lg-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.col-sm-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-md-4 {
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.col-md-8 {
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

.col-lg-6 {
	flex: 0 0 50%;
	max-width: 50%;
}