@charset "UTF-8";

/*참고: https://webclub.tistory.com/261 */
@font-face{
    font-family:'나눔손글씨 가람연꽃';
    font-style: normal;
    font-weight: normal;
    src:url('/resources/fonts/나눔손글씨 가람연꽃.ttf');
    src:url('/resources/fonts/나눔손글씨 가람연꽃.ttf?#iefix') format(‘embedded-opentype’),
        url('/resources/fonts/나눔손글씨 가람연꽃.woff') format(‘woff’),
        url('/resources/fonts/나눔손글씨 가람연꽃.woff2') format(‘woff2’);
}