@charset "UTF-8";
/* 스타일 초기화 시작 */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 스타일 초기화 끝 */

/* 전체 공통 시작 */
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 정렬 */
    justify-content: center; /* 수직 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    width: 100%; /* 컨테이너 너비, 필요에 따라 조정 가능 */
    height: 100%; 
    margin: auto; /* 상위 요소 내에서 자동 마진을 통한 중앙 정렬 */
	max-width: 60vh;
/* 	min-width: 400px;  */
	max-height: 240vw;
/* 	min-height: 70vh;  */
	overflow: auto;
	white-space: nowrap;   
	position: relative;
}

.close-modal{
    display: none !important;
}

.page-header{
	display: flex; /* Flexbox 레이아웃 사용 */
	height: var(--page-header-height);
	background-color: #6c757d;
	align-items: center; /* 세로 축을 기준으로 중앙 정렬합니다 */
	padding: 10px;
}

.page-option{
	height: 3rem;
	padding: 10px;
	display: flex;
    align-items: center;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
}

.page-body{
	flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
	overflow: auto;
}

:root {
	--padding-default: 20px;
	--padding-mobile: 10px;
	--color-default: black;
	--color-gray: #e8e8e8;
	--page-header-height: 5rem;
}

.content {
    flex: 1;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh; /* 뷰포트의 전체 높이 */    
}

.remove-a {
	text-decoration: none;
	color: black;
	margin: 0;	
}

a:hover {
    color: black;
}

.gray-input{
	background-color: var(--color-gray);
}

.img_checkbox{
	height: 2.5rem;
	margin: 0 0.5rem 0 0;
}

.optionBtn{
    font-size: 1.5rem;
    margin: 2px;
}

.modal{
	width: 90%;
    max-width: 90%;
    height: auto;	
}

.modalText{
	font-size: 1.4rem;
	font-weight: bold;
	text-align: right;
}

.border-box{
	border: 1px solid gray;
}

.tableInput{
	margin: 12px; 
	width: 100%;
}
/* 전체 공통 끝 */

/* 스크롤바 시작*/
/*webkit 브라우저*/
::-webkit-scrollbar {	/* 스크롤바 배경 */
    width: 10px;  
    background: #c0c0c0; 
}

::-webkit-scrollbar-thumb {	/* 스크롤바 막대 */
	background: #404036; 
    border-radius: 10px;
}
/* 스크롤바 끝*/

/* 로딩바 시작 */
.loadingPanel{
	display: none;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.loadingImg{
	width: 120px;
	height: 120px;
	border: 7px solid rgba(168, 151, 198, 0.2);
	border-top-color: #5894cf;
	border-radius: 50%;
	animation: spinner 800ms infinite linear;
}

.loadingText{
	position: fixed;
	font-weight: bold;
	animation: flicker 1100ms infinite alternate;
}

@keyframes spinner{
	from {transform: rotate(0deg);}
	to   {transform: rotate(359deg);}
}

@keyframes flicker{
	from {opacity: 1;}
	to   {opacity: 0;}
}
/* 로딩바 끝 */

/* 사이드 메뉴 시작 */
.side-menu {
  width: 0px; /* 메뉴의 너비 */
  position: absolute;
  top: var(--page-header-height);
  left: 0; /* 왼쪽 바깥으로 숨겨진 상태로 시작 */
  height: 100%;
  background-color: #ffffff; /* 메뉴의 배경색 */
  overflow-x: hidden;
  transition: 0.5s; /* 부드러운 슬라이드 효과를 위한 전환 */
  z-index: 1; /* 다른 요소 위에 오도록 z-index 설정 */
  font-size: 2rem;
  font-weight: bold;
}

.side-menu > div{
	padding: 20px;
	white-space: nowrap;
}

.side-menu > div:hover{
	background-color: #6d91d3;
}

.side-menu .selected, 
.list-div .selected, 
#modalWordbookList .selected{
	background-color: #6d91d3;
}

/* 사이드 메뉴를 보여주는 CSS 클래스 */
.side-menu.show {
  left: 0; /* 메뉴를 화면으로 슬라이드 */
}

/* 사이드 메뉴 끝 */

/* login.jsp 시작 */
.login-form {
    width: 100%;
    font-size: 2.5rem;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
}

.login-form .checkbox-group {
    margin-bottom: 15px;
}

.login-form input[type="checkbox"] {
    margin-right: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.loginDiv{
    width: 90%;
    margin: 5%;
}
/* login.jsp 끝 */

/* wordbookView 시작 */
.menuBtn, .editBtn{
	height: 3rem;
}

.title-div{
    display: flex; /* Flexbox 레이아웃을 사용합니다 */
    justify-content: center; /* 수평 축을 기준으로 중앙 정렬합니다 */
    align-items: center; /* 세로 축을 기준으로 중앙 정렬합니다, 필요한 경우에만 사용 */
    flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.option-div{
    display: flex; /* Flexbox 레이아웃을 사용합니다 */
    align-items: center; /* 세로 축을 기준으로 중앙 정렬합니다, 필요한 경우에만 사용 */
    flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */	
}

.title-select{
	width: 90%;
	font-size: 1.5rem;
}

.title-select option{
	font-size: 0.8rem;
}

.body-div{
	height: 50%;
	font-size: 1.5rem;
}

.bookmarkBtn {
    height: 3rem;
}

.button-div{
	padding: 0.5rem;
	background-color: #6c757d;
}

.word-span{
	flex: 1;
}

.mean-span{
	flex: 1;
	display: none;
}

.prev-button, .next-button{
	height: 3rem;
    width: 3rem;
    margin: 0 0 0 10px;	
    cursor: pointer;
    max-height: 100%;
}

#wordListDiv{
	display: none;
}

#meanBlockImg{
	height: 50%;
	width: 50%;
}
/* wordbookView 끝 */

/* wordbookList 시작 */
.list-div{
  font-size: 2rem;
  font-weight: bold;	
}

.list-div > div {
    padding: 20px;
    white-space: nowrap;
}
/* wordbookList 끝 */

/* challengeView 시작 */
.chal-button-div{
	padding: 10px;
	display: none;
}

.chalOptionBtn{
	flex: 1;
    font-size: 1.5rem;
    margin: 2px;
}

.curIdxBox{
	position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 1.5rem;
    color: darkgray;
}

.chal-button-blocker{
	display:none;
	background-color: #6c757d;
	width: 100%;
	text-align: center;
}

/* challengeView 끝 */

/* challengeEditModal 시작 */
#modalWordbookList{
	height: 10rem;
    overflow: auto;
    text-align: left;
    padding: 10px;
}
/* challengeEditModal 끝 */

/* 반응형 스타일 시작 */
/* 화면이 ?px 이상일 때 */     
/* @media screen and (min-width: 600px){ */
/*     html { */
/*     	font-size: 15px;  */
/*     }	 */
/* }  */

/*화면의 너비가 높이의 n% 이하일 때 */
/* @media screen and (max-aspect-ratio: 0.6) */
/* { */
/*     html { */
/*     	font-size: 15px;  */
/*     }	 */
/* } */

/* 화면의 너비가 높이의 n% 이상일 경우에 적용할 스타일 */
@media screen and (min-aspect-ratio: 0.6) {
	.wrap {
		border: 2px solid black;
	}
}
/* 반응형 스타일 끝 */
