<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.admin.ManageMnuMapper">
	
	<!-- 메뉴 목록 조회-->
	<select id="selectMnuList" parameterType="map" resultType="camelCaseMap">
		SELECT T1.MNU_SEQ					/*메뉴일련번호*/
			 , T1.URL						/*메뉴경로*/
			 , T1.MNU_NM					/*메뉴명*/
			 , T1.TOP_URL					/*최상위메뉴경로*/
			 , T1.UPPER_URL					/*상위메뉴경로*/
			 , T1.OPEN_YN					/*메뉴노출여부*/
			 , T1.AUTH_YN					/*권한검사여부*/
			 , T1.MNU_LV					/*메뉴레벨*/
			 , T1.INFO						/*메뉴정보*/
			 , T1.MNU_ORDER					/*메뉴표시순서*/
			 , T1.RMRK						/*메뉴비고*/
			 , T1.FST_REG_ID				/*최초등록자아이디*/
		     , T1.FST_REG_DTTI				/*최초등록일시*/
		     , T1.LT_UPD_ID					/*최종수정자아이디*/
		     , T1.LT_UPD_DTTI				/*최종수정일시*/
		     , T1.URL						AS id
		     , T1.UPPER_URL					AS parent
		     , T1.MNU_NM					AS text
		  FROM TB_MNU T1					/*테이블_메뉴*/
	</select>
	
	<!-- 메뉴 수정 -->
	<update id="updateMnu" parameterType="map">
		UPDATE TB_MNU  											/*테이블_메뉴*/
           SET MNU_NM					= #{mnuNm}				/*메뉴명*/
			 , TOP_URL					= #{topUrl}				/*최상위메뉴경로*/
			 , UPPER_URL				= #{upperUrl}			/*상위메뉴경로*/
			 , OPEN_YN					= #{openYn}				/*메뉴노출여부*/
			 , AUTH_YN					= #{authYn}				/*권한검사여부*/
			 , MNU_LV					= #{mnuLv}				/*메뉴레벨*/
			 , INFO						= #{info}				/*메뉴정보*/
			 , MNU_ORDER				= #{mnuOrder}			/*메뉴표시순서*/
			 , RMRK						= #{rmrk}				/*메뉴비고*/          
		     , LT_UPD_ID 				= #{loginInfo.userId}	/*최종수정자ID*/
		     , LT_UPD_DTTI				= NOW() 				/*최종수정일시*/
         WHERE URL						= #{mnuUrl}				/*메뉴경로*/
	</update>	
	
</mapper>