@charset "UTF-8";
/**
 * @화면명: 기업장터
 * @작성자: KimSangMin
 * @생성일: 2023. 12. 13. 오전 9:53:47
 * @설명: 기업에서 생산한 물품을 사고 팔 수 있는 메뉴입니다.
**/

.cardIntro {
	white-space: pre-line;
	overflow: auto;
	height: 0;
}